.app {
  min-height: 50rem;
}

body {
  background-image: linear-gradient(#136a8a, #267871);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.weather-wrapper {
  color: #fff;
  padding: 2em;
  max-width: 790px;
  margin: 0 auto;
}

.logo {
  font-size: 1.25rem;
  font-family: 'serif';
  font-style: italic;
  margin-bottom: 2rem;
}

.currrent-conditions {
  font-size: 1.45em;
}

.current-temp {
  font-size: 5rem;
}

.five-day-forecast {
  border-top: 1px solid #fff;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.five-day-forecast-title {
  color: #eeeeee;
  flex-basis: 100%;
  font-family: 'serif';
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.forecast-card {
  padding-bottom: 2rem;
}

.forecast-card h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.forecast-low,
.forecast-high {
  font-size: 0.75em;
}

.city-label {
  font-size: 0.8rem;
}

.form-control {
  width: 75%;
}
.weather-form {
  background-image: linear-gradient(#136a8a, #267871);
  margin-bottom: 2rem;
}
